/* font import */
@font-face {
  font-family: laorbrige;
  src: url(../fonts/laobrige.otf);
  font-weight: normal;
}
@font-face {
  font-family: monospaceTypewriter;
  src: url(../fonts/MonospaceTypewriter.ttf);
  font-weight: normal;
}
@font-face {
  font-family: smiley;
  src: url(../fonts/smiley.ttf);
  font-weight: normal;
}
@font-face {
  font-family: sportingGrotesque;
  src: url(../fonts/SportingGrotesque-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: sportingGrotesque;
  src: url(../fonts/SportingGrotesque-Bold.otf);
  font-weight: bold;
}
/* css starts here */
:root {
  --heading-font-family: "sportingGrotesque";
  --secondary-font-family: "monospaceTypewriter";
}
.navbar-font {
  font-family: var(--heading-font-family);
}
.laobrige-font {
  font-family: laorbrige;
}
.monospace-font {
  font-family: var(--secondary-font-family);
}
.smiley-font {
  font-family: smiley;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 0 60px 0 60px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 45px;
}
.hero p {
  font-family: var(--heading-font-family);
}
.second-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 60px 0 60px;
}
.portfolio-type {
  font-family: var(--heading-font-family);
}
.portfolio-type h2 {
  line-height: 65px;
  font-size: 38px;
}
.project-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 60px 0 60px;
}
.project-page h2 {
  font-size: 30px;
  font-family: var(--heading-font-family);
  margin-bottom: 60px;
}
.project-page h3 {
  font-family: var(--heading-font-family);
  font-size: 28px;
  margin-bottom: 20px;
}
.project-page h4 {
  font-family: var(--heading-font-family);
  font-size: 18px;
}
.project-page p {
  font-size: 18px;
  font-family: "Sen", sans-serif;
  line-height: 30px;
}
.row {
  padding-bottom: 75px;
}
.btn-outline-portfolio {
  border: 1px solid black;
  padding: 12px 15px;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Sen", sans-serif;
  margin-right: 12px;
}
@media (max-width: 600px) {
  .hero {
    padding: 0 30px 0 30px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero img {
    width: 30px;
  }
  .hero p {
    font-size: 15px;
  }
  .second-page {
    display: none;
  }
  .project-page {
    padding: 0 30px 0 30px;
  }
  .project-page h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .project-page .illustration-img {
    width: 15px;
  }
  .project-page h3 {
    font-size: 15px;
    margin-bottom: 12px;
  }
  .project-page h4 {
    font-size: 14px;
  }
  .project-page p {
    font-size: 15px;
    line-height: 17px;
  }
  .project-page .row {
    padding-bottom: 45px;
  }
  .btn-outline-portfolio {
    font-size: 13px;
  }
}
