@font-face {
  font-family: laorbrige;
  src: url(../fonts/laobrige.otf);
  font-weight: normal;
}
@font-face {
  font-family: monospaceTypewriter;
  src: url(../fonts/MonospaceTypewriter.ttf);
  font-weight: normal;
}
@font-face {
  font-family: smiley;
  src: url(../fonts/smiley.ttf);
  font-weight: normal;
}
@font-face {
  font-family: sportingGrotesque;
  src: url(../fonts/SportingGrotesque-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: sportingGrotesque;
  src: url(../fonts/SportingGrotesque-Bold.otf);
  font-weight: bold;
}
.navbar-font {
  font-family: sportingGrotesque;
}
.laobrige-font {
  font-family: laorbrige;
}
.monospace-font {
  font-family: monospaceTypewriter;
}
.smiley-font {
  font-family: smiley;
}
h1 {
  font-family: sportingGrotesque;
}
p {
  font-family: sportingGrotesque;
}
.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 0 40px 0 40px;
}
